@font-face {
    font-family: 'Noto Sans';
    src: url(./../fonts/NotoSans-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(./../fonts/NotoSans-BoldItalic.woff2) format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(./../fonts/NotoSans.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(./../fonts/NotoSans-Italic.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
}

