<section class="usa-banner" aria-label="Official government website">
    <header class="usa-banner__header">
        <div class="usa-banner__inner">
        <div class="usa-banner__header-text">
            An official website of the United States government
        </div>
        </div>
    </header>
</section>

<header id="header-with-mega-menu" class="nci-header nci-header--megamenu" aria-label="NIH National Cancer Institute">
    <!-- Top most header content: logo, searchbar*, [menu popup button] -->
    <div class="nci-header__navbar">
        <!-- NCI logo -->
        <div class="nci-logo" id="megamenu-logo">
        <a href="http://cancer.gov">
            <picture>
            <source media="(min-width: 1024px)"
                srcset="https://www.cancer.gov/profiles/custom/cgov_site/themes/custom/cgov/static/images/design-elements/logos/nci-logo-full.svg" />
            <img
                src="https://www.cancer.gov/profiles/custom/cgov_site/themes/custom/cgov/static/images/design-elements/logos/nci-logo-full.svg"
                alt="National Cancer Institute Homepage" />
            </picture>
        </a>
        </div>

        <!-- Search box (with mobile variant), menu popup button (mobile online)-->
        <div class="nci-header-nav__secondary">
        <button class="usa-button nci-header-mobilenav__open-btn">Menu</button>

        <form class="nci-header-search" role="search">
            <label class="usa-sr-only" for="nci-header-search__field">
            Search
            </label>
            <input class="usa-input" id="nci-header-search__field" type="search" name="search" />

            <button class="usa-button nci-header-search__search-button" type="submit" aria-label="Search">
            <span class="nci-header-search__label" aria-hidden="true">
                Search
            </span>
            <svg class="usa-icon" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24"
                aria-labelledby="search-icon-title">
                <title id="search-icon-title">Search</title>
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
            </svg>
            </button>
        </form>
        </div>
    </div>


    <!-- Navigation header content -->
    <nav aria-label="Primary Navigation" class="nci-header-nav">
        <div class="nci-header-nav__inner">
        <ul class="nci-header-nav__primary">
            <li class="nci-header-nav__primary-item">
            <a href="/epitracker/" class="nci-header-nav__primary-link usa-current">
                <span>Home</span>
            </a>
            </li>
            <li class="nci-header-nav__primary-item">
            <a href="#" class="nci-header-nav__primary-link" data-menu-id="2">
                <span>Visualizations</span>
            </a>
            </li>
            <li class="nci-header-nav__primary-item">
            <a href="/epitracker/guide" class="nci-header-nav__primary-link">
                <span>Guide</span>
            </a>
            </li>
            <li class="nci-header-nav__primary-item">
            <a href="https://github.com/episphere/epitracker/issues/new" class="nci-header-nav__primary-link">
                <span>Report Issue</span>
            </a>
            </li>
        </ul>
        </div>
    </nav>
</header>