<!-- <div id="popup" class="display-none position-fixed left-0 top-0"> -->
<div id="popup" class="
    display-none flex-align-center flex-justify-center 
    position-fixed left-0 top-0">
  <div id="popup-body" class="
    padding-1
    display-flex flex-column
    bg-white radius-md">
    <div id="popup-topbar" class="display-flex flex-justify">
      <div id="popup-title" class="text-bold font-serif-sm "></div>
      <i id="popup-close" class="fas fa-times button margin-left-3"></i>
    </div>
    <div id="popup-content-container" class="width-full height-full padding-1"></div>
    
  </div>
</div>
<!-- </div> -->

<div id="popup-content-table" class="popup-content">

  <div class="display-flex flex-column padding-y-0 padding-x-3 height-full">
    <div class="display-flex flex-justify width-full padding-y-1 ">
      <span id="table-title"></span>
      <i id="table-button-download-data" class="settings-button fa-solid fa-download text-base" tip="Download data/graphs"></i>
    </div>

    <div id="table-container" class="width-full display-flex"></div>
  </div>
</div>