@use 'uswds-core' with (
  $theme-image-path: '@nciocpl/ncids-css/uswds-img',
  
);
@forward 'uswds-global';
// @forward 'usa-footer';
// @forward 'usa-skipnav';
// @forward 'ncids';

@forward "usa-footer";
@forward "usa-button";
@forward "usa-form-group";
@forward "usa-input";
@forward "usa-error-message";
@forward "usa-layout-grid";
@forward "usa-banner";
@forward "nci-header";
@forward "nci-autocomplete";
@forward "nci-card";
@forward "nci-card-group";
@forward "nci-heading";
@forward "uswds-utilities";
@forward 'usa-combo-box';
@forward "usa-checkbox";
@forward "usa-fieldset";

#plot-container {
  width: 100%; 
  height: calc(100vh - 5rem); 
  max-height: 785px; 
  position: sticky;  
  top: 20px; 
  // overflow-x: auto; 
  overflow-y: hidden; 
  // border-top: solid #3d4551 1px;
  flex-shrink: 0;
}

  

html {
  background-color: #00314b;
}

.epitracker-title {
  justify-content: center;
}

.epitracker-subtitle {
  font-size: 1.5em;
  margin-block: 0px;
}

#hidden-stuff {
  display: none;
}

.usa-label-short-margin {
  margin-top: 8px;
}

.settings-button {
  cursor: pointer;
  font-size: 27px;
}

.settings-button:hover {
  filter: brightness(130%);
}

.clickable-button {
  cursor: pointer;
}

.clickable-button:hover {
  filter: brightness(130%);
}

.dropdown-menu {
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}

.dropdown-item {
  list-style: none;
  padding-block: 7px;
  padding-inline: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

#main-content {
  position: relative;
}

#legend-container {
  height: 30px;
}

#plot-container .custom-tooltip {
  background-color: rgba(255, 255, 255, 1);
  font-family: sans-serif;
  padding: 8px;
  border: none;
  border-radius: 3px;
  display: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: 300;
  border: 1px solid rgb(47, 47, 47);
}

#table-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 999; 
  display: none; 
  align-items: center; 
  justify-content: center;
}

#table-popup {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw; 
  height: 85vh; 
  // max-width: 800px; 
  // max-height: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex; 
  flex-direction: column;
}

#img-template {
  z-index: 99999;
  
  display: inline-flex; 
  flex-direction: column;

  // display: inline-grid;
  // grid-template-columns: 1fr;
  
  min-width: 640px;
  // width: fit-content;
  height: fit-content;
  gap: 20px;
  padding: 30px;
  background-color: white;

}

#img-title {
  font-weight: bold;
  font-size: 1em;
  text-align: center;

  // width: 100%;

  // So title does not affect plot width
  width: 0;
  min-width: 100%;
}

#img-legend {
  width: 100%;
}

#img-plot {
  height: 800px;
  min-width: 100%;
}

#img-source {
  font-size: .8em;
  font-style: italic;
}

#img-maps-container {
  display: grid;
  width: 1600px;
  height: 900px;
}

.img-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-card-title {
  font-weight: bold;
  font-size: .8em;
}

.img-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-legend .legend-check path {
  visibility: hidden;
}

#img-legend .legend-check {
  font-size: .9em;
}

#filter-dropdown-content {
  display: hidden;
}

// =====================================================================================================================
// === Map Page ========================================================================================================
// =====================================================================================================================

#dashboard-container {
  height: 80vh;
  background-color: beige;
}

#grid-container {
  height: 100%;
  padding: 10px;
  padding-top: 0px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.plot-grid-add {
  position: absolute;
  font-size: 25px;
  color: #565c65;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.plot-grid-add-col {
  top: calc(50% - 12px);
  right: -20px;
}

.plot-grid-add-row {
  left: calc(50% - 12px);
  bottom: -20px;
}

.plot-grid-item {
  height: 100%;
}

.plot-grid-blank-item {
  background-color: #f9fbff;
  border: 2px dashed #71767a;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #757575; 
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  box-sizing: border-box;
}

.hover .plot-grid-blank-item {
  border: 2px dashed #abb1b7;
}

.plot-grid-blank-item i {
  font-size: 40px;
}

.plot-grid-blank-plus-button {
  margin-bottom: 16px;
}

.hover .plot-grid-blank-plus-button {
  color: #abb1b7;
}

.hover .plot-grid-blank-info {
  color: #abb1b7;
}

.plot-grid-blank-delete-button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.plot-grid-blank-delete-button:hover {
  color: #abb1b7;
}

// .plot-grid-blank-item .plot-grid-blank-delete-button i {
//   font-size: 30px;
//   color: hsl(0, 0%, 83%);
// }

// .plot-grid-blank-item .plot-grid-blank-delete-button i.hover {
//   font-size: 30px;
//   color: hsl(0, 0%, 93%);
// }




// =====================================================================================================================

.grid-card {
  background: white;
  border-radius: 6px;
  box-shadow: 2px 2px 6px 1px rgb(234, 232, 232);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid-card-content-container {
  height: 100%;
  padding: 2%;
  overflow: auto;
}

.grid-card-content {
  height: 100%;
}

.grid-stack-item {
  box-sizing: content-box;
}

.grid-card-topbar {
  display: flex;
  justify-content: space-between;
}

.grid-card-topbar-buttons {
  display: flex;
  gap: 8px;
  color: #565c65;
  justify-content: flex-start;
  flex-direction: row-reverse;
  padding: 8px;
}

.grid-card-topbar i {
  cursor: pointer;
}



// =====================================================================================================================

.gap-1 {
  gap: 8px;
}

.gap-3 {
  gap: 16px;
}

.width-p75 {
  width: 75%;
}

// =====================================================================================================================

.tippy-box[data-theme~='dark'] {
  background-color: #333b4d;
}
.tippy-box[data-theme~='dark'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #333b4d;
}
.tippy-box[data-theme~='dark'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #333b4d;
}
.tippy-box[data-theme~='dark'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #333b4d;
}
.tippy-box[data-theme~='dark'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #333b4d;
}

// =====================================================================================================================

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7b7f84;
}

::-webkit-scrollbar-button {
  display: none;
}