// @use 'uswds-core' with (
//   $theme-image-path: '@nciocpl/ncids-css/uswds-img',
// );
@use "uswds-core" as * with (
  $theme-image-path: '@nciocpl/ncids-css/uswds-img',
);
@forward 'uswds-global';
// @forward 'usa-footer';
// @forward 'usa-skipnav';
// @forward 'ncids';

@forward "usa-footer";
@forward "usa-button";
@forward "usa-form-group";
@forward "usa-input";
@forward "usa-error-message";
@forward "usa-layout-grid";
@forward "usa-banner";
@forward "nci-header";
@forward "nci-autocomplete";
@forward "nci-card";
@forward "nci-card-group";
@forward "nci-heading";
@forward "uswds-utilities";
@forward 'usa-combo-box';
@forward "usa-checkbox";
@forward "usa-fieldset";
@forward "usa-range";

#plot-container {
  width: 100%; 
  height: calc(100vh - 5rem); 
  max-height: 785px; 
  position: sticky;  
  top: 20px; 
  // overflow-x: auto; 
  overflow-y: hidden; 
  // border-top: solid #3d4551 1px;
  flex-shrink: 0;
}

  

html {
  background-color: color("primary-dark");
}

.epitracker-title {
  justify-content: center;
}

.epitracker-subtitle {
  font-size: 1.5em;
  margin-block: 0px;
}

#hidden-stuff {
  display: none;
}

.usa-label-short-margin {
  margin-top: 8px;
}

.usa-label-mid-margin {
  margin-top: 0.75rem;
}

.usa-range {
  margin-top: 0px;
  padding: 0.3rem;
}

.usa-range__wrapper {
  display: grid;
  grid-template-columns: 1fr 45px;
  align-items: center;
}

#range-extreme-cutoff-container .usa-range__value::before {
  content: "±";
}
#range-extreme-cutoff-container .usa-range__value::after {
  content: "σ";
}
  


.settings-button {
  cursor: pointer;
  font-size: 27px;
}

.settings-button:hover {
  filter: brightness(130%);
}

.clickable-button {
  cursor: pointer;
}

.clickable-button:hover {
  filter: brightness(130%);
}

.dropdown-menu {
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}

.dropdown-item {
  list-style: none;
  padding-block: 7px;
  padding-inline: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: color("base-lightest");
}

#main-content {
  position: relative;
}

#legend-container {
  height: 30px;
}

#plot-container .custom-tooltip {
  background-color: rgba(255, 255, 255, 1);
  font-family: sans-serif;
  padding: 8px;
  border: none;
  border-radius: 3px;
  display: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  pointer-events: none;
  border: 1px solid rgb(47, 47, 47);
}

.custom-tooltip {
  z-index: 1100;

}

#table-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 999; 
  display: none; 
  align-items: center; 
  justify-content: center;
}

#table-popup {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw; 
  height: 85vh; 
  // max-width: 800px; 
  // max-height: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex; 
  flex-direction: column;
}

#table-container {
  height: calc(100% - 80px);
}

#popup-body {
  max-height: 90vh;
  max-width: 90vw;
}

#popup-title {
  margin-left: 4px;
  margin-top: 4px;
}

#popup-content-table {
  height: 75vh;
}

#img-template {
  z-index: 99999;
  
  display: inline-flex; 
  flex-direction: column;

  // display: inline-grid;
  // grid-template-columns: 1fr;
  
  min-width: 640px;
  // width: fit-content;
  height: fit-content;
  gap: 20px;
  padding: 30px;
  background-color: white;

}

#img-title {
  font-weight: bold;
  font-size: 1em;
  text-align: center;

  // width: 100%;

  // So title does not affect plot width
  width: 0;
  min-width: 100%;
}

#img-legend {
  width: 100%;
}

#img-plot {
  height: 800px;
  min-width: 100%;
}

#img-plot-grid {
  width: 1600px;
  height: 900px;
  display: grid;

}

#img-source {
  font-size: .8em;
  font-style: italic;
}

.image-map-plot-cell {
  display: grid;
  grid-template-rows: 30px 1fr;
}

#img-maps-container {
  display: grid;
  width: 1600px;
  height: 900px;
}

.img-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-card-title {
  font-weight: bold;
  font-size: .8em;
}

.img-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-legend .legend-check path {
  visibility: hidden;
}

#img-legend .legend-check {
  font-size: .9em;
}

#filter-dropdown-content {
  display: hidden;
}

.button {
  color: color("base");
  cursor: pointer;
}

.button:hover {
  color: color("base-light");
}

#dropdown-content-settings {
  min-width: 450px;
}

// =====================================================================================================================
// === Popup (shared) ==================================================================================================
// =====================================================================================================================

#popup {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0,0.7);
  z-index: 1000;
}


// =====================================================================================================================
// === Map Page ========================================================================================================
// =====================================================================================================================

// --- Page and auxillary grid layout ---

#dashboard-container {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: auto 0px 1fr 30px;
    align-items: end;

}

#dashboard-topbar {
  grid-row: 1;
  grid-column: 1/2;
}

#grid-container {
  height: 100%;
  padding: 10px;
  grid-row: 3;
  grid-column: 1;

  .gridette {
    gap: 10px;
  }
}

.grid-add {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: color("base-dark");
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 10;

  &:hover {
    color: color("base-light");
  }
}

#grid-add-col {
  grid-column: 2;
  grid-row: 3;
  height: 100%;
}

#grid-add-row {
  grid-column: 1;
  grid-row: 4;
}

#plot-configurator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr) 20px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-inline: 10px;
}

#button-card-submit {
  grid-row: 5;
  grid-column: 1 / 3;
  
}

.input-single {
  width: 15rem;
}

#plot-configurator .input-single {
  width: 20rem;
}

// --- Plot grid elements ---

.plotgrid-item {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  min-width: 0;
  overflow: hidden;
}

.plotgrid-blank-item {
  position: relative;
  // background-color: color("base-lightest");
  border: 2px dashed color("base");
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: color("base"); 
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  box-sizing: border-box;

  i {
    font-size: 30px;
  }

  // Highlight some blank item elements if the user is hovering over the card but NOT hovering over the delete button.
  &:hover:not(:has(.plotgrid-blank-delete-button:hover)) {
    border: 2px dashed color("base-light");

    .plotgrid-blank-plus-button {
      color: color("base-light");
    }

    .plotgrid-blank-info {
      color: color("base-light");
    }
  }
}

.plotgrid-blank-delete-button {
  position: absolute;
  right: 20px;
  top: 20px;

  &:hover {
    color: color("base-light");
  }
}

.plotgrid-card {
  background: white;
  border-radius: 6px;
  box-shadow: 2px 2px 6px 1px rgb(234, 232, 232);
  height: 100%;
  display: flex;
  flex-direction: column;

  .plotgrid-card-topbar {
    margin: 8px;
    margin-bottom: 5px;
  }

  .plotgrid-card-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plotgrid-card-plot {
    position: absolute;
  }
}

g[aria-label="geo"] path:hover {
  stroke: green;
  stroke-width: 2;
}

#color-legend-container {
  height: 50px;
  width: 430px;
}

// =====================================================================================================================

.gap-1 {
  gap: 8px;
}

.gap-3 {
  gap: 16px;
}

.width-p75 {
  width: 75%;
}

.hidden {
  display: none !important;
}

// =====================================================================================================================

.tippy-box[data-theme~='dark'] {
  background-color: color("base-darker");
}
.tippy-box[data-theme~='dark'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: color("base-darker");
}
.tippy-box[data-theme~='dark'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: color("base-darker");
}
.tippy-box[data-theme~='dark'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: color("base-darker");
}
.tippy-box[data-theme~='dark'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: color("base-darker");
}

// =====================================================================================================================

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: color("base-lighter");
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: color("base-light");
}

::-webkit-scrollbar-button {
  display: none;
}