<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header Template</title>
</head>

<body>
  <header role="banner">
    <div id="header" class="header">
      <div class="container">
        <div id="alertMessage"></div>
        <div class="row">
          <div class="col py-3">
            <a href="#home" title="Home" rel="home">
              <img src="../static/images/NIH_NCI.jpg" height="50px" alt="NCI Data Platform Logo" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-xl navbar-dark" role="navigation" id="epitrackerNav">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" id="navBarBtn"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <div class="navbar-nav grid" id="navBarOptions">
            <div class="grid-elements">
              <a class="nav-link nav-menu-links white-font" rel="noopener" href="/index.html" title="DCEG Home">
                Home
              </a>
            </div>
            <div class="grid-elements">
              <a class="nav-link nav-menu-links white-font" href="/about.html">About</a>
            </div>
            <div class="grid-elements">
              <a class="nav-link nav-menu-links white-font" href="/instruction.html">Instruction</a>
            </div>
            <div class="grid-elements">
              <a class="nav-link nav-menu-links white-font" href="/dictionary.html">Dictionary</a>
            </div>
            <div class="grid-elements dropdown">
              <button class="nav-link nav-menu-links dropdown-toggle dropdown-btn white-font" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Visualization
              </button>
              <ul class="dropdown-menu navbar-dropdown">
                <li>
                  <a class="dropdown-item nav-link nav-menu-links dropdown-menu-links"
                    href="/epitracker/visualization/quantile.html" title="Quantile Visualization">Quantile</a>
                </li>
                <li>
                  <a class="dropdown-item nav-link nav-menu-links dropdown-menu-links" href="/epitracker/visualization/map.html"
                    title="Map Visualization">Map</a>
                </li>
                <li>
                  <a class="dropdown-item nav-link nav-menu-links dropdown-menu-links" href="/epitracker/visualization/demographics.html"
                    title= "Demographics Visualization">Demographics</a>
                </li>
              </ul>
            </div>
            <div class="grid-elements">
              <a class="nav-link nav-menu-links white-font" rel="noopener" target="_blank"
                href="https://github.com/episphere/epitracker/issues" title="Epitracker github issues">
                Report issue
              </a>
            </div>
          </div>
        </div>
    </nav>
  </header>
</body>

</html>