@use 'uswds-core' with (
  $theme-image-path: '@nciocpl/ncids-css/uswds-img',
  
);
@forward 'uswds-global';
// @forward 'usa-footer';
// @forward 'usa-skipnav';
// @forward 'ncids';

@forward "usa-footer";
@forward "usa-button";
@forward "usa-form-group";
@forward "usa-input";
@forward "usa-error-message";
@forward "usa-layout-grid";
@forward "usa-banner";
@forward "nci-header";
@forward "nci-autocomplete";
@forward "nci-card";
@forward "nci-card-group";
@forward "nci-heading";
@forward "uswds-utilities";

html {
  background-color: #00314b;
}

.epitracker-title {
  justify-content: center;
}

.epitracker-subtitle {
  font-size: 1.5em;
  margin-block: 0px;
}

#hidden-stuff {
  display: none;
}